<h1>Payment Calculator</h1>

<p> A <%= @user_year %> year loan of $<%= @user_principle %>, with an annual interest rate of <%= @user_apr %>%, requires a monthly payment of $<%= @user_monthly_payment %>. </p>
