<h1>Calculate Monthly Payments</h1>

<!-- forms must have label, form, and button -->

<form action="/payment/results">
  <div>
    <label>
      Enter an Annual Percentage Rate (APR) :-)
    </label>
  </div>
  <div>
    <input type="text" name="apr">
  </div>
  <div>
    <label>
      Enter the numbe of Years for the loan :-)
    </label>
  </div>
  <div>
    <input type="text" name="year">
  </div>
  <div>
    <label>
      Enter the loan amount (principle) :-)
    </label>
  </div>
  <div>
    <input type="text" name="principle">
  </div>
  <div>
    <button>Calculate the Monthly Payment</button>
  </div>


</form>
