<h1>Payment Calculation</h1>

<!-- forms must have label, form, and button -->

<form action="/payment/results">
  <div>
    <label>
      <b>APR</b>
    </label>
        <input type="text" name="apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label>
      <b>Number of years</b>
    </label>
        <input type="text" name="years" placeholder="How many years to repay?">
  </div>


  <div>
    <label>
      Principal
    </label>
        <input type="text" name="principal" placeholder="How much principal?">
  </div>

  <div>
    <button>Calculate monthly payment</button>
  </div>


</form>
