<h1>Payment Results</h1>

<div>
  <b>APR</b>
</div>
<div>
  <p><%= @user_apr.round(4) %>%</p>
</div>

<div>
  <b>Number of years</b>
</div>
<div>
  <p><%= @user_year.round(1) %></p>
</div>

<div>
  <b>Principal</b>
</div>
<div>
  <p>$<%= @user_principle.round(2) %></p>
</div>
<div>
  <b>Payment</b>
</div>
<div>
  <p>$<%= @user_monthly_payment.round(2) %></p>
</div>
