<h1>Random Calculation</h1>

<!-- forms must have label, form, and button -->

<form action="/random/results">
  <div>
    <label>
      Minimum
    </label>
    <input type="text" name="min_num" placeholder="E.g. 1.5">
  </div>
  <div>
    <label>
      Maximum
    </label>
    <input type="text" name="max_num" placeholder="E.g. 4.5">
  </div>
  <div>
    <button>Pick Random Number</button>
  </div>


</form>
