<h1>Random Number</h1>
<div>
  <b>Minimum</b>
</div>
<div>
  <p><%= @min_num %></p>
</div>

<div>
  <b>Maximum</b>
</div>
<div>
  <p><%= @max_num %></p>
</div>

<div>
  <b>Random Number</b>
</div>
<div>
  <p><%= @random_number %></p>
</div>
