<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tbody>
          <tr>
            <th>
              Part I Targets
            </th>
            <td>
              <a href="/flexible/square/5">
                Flexible Square Example
              </a>
            </td>
            <td>
              <a href="/flexible/square_root/8">
                Flexible Square Root Example
              </a>
            </td>
            <td>
              <a href="/flexible/payment/410/30/250000">
                Flexible Payment Example
              </a>
            </td>
            <td>
              <a href="/flexible/random/50/100">
                Flexible Random Example
              </a>
            </td>
          </tr>
          <tr>


            <th>
              Part II Targets
            </th>
            <td>
              <a href="/square/new">
                Square Form
              </a>
            </td>
            <td>
              <a href="/square_root/new">
                Square Root Form
              </a>
            </td>
            <td>
              <a href="/payment/new">
                Payment Form
              </a>
            </td>
            <td>
              <a href="/random/new">
                Random Form
              </a>
            </td>
          </tr>
          <tr>
            <th>
              Part III Targets
            </th>
            <td>
              <a href="/word_count/new">
                Word Count Form
              </a>
            </td>
            <td>
              <a href="/descriptive_stats/new">
                Stats Form
              </a>
            </td>
          </tr>
        </tbody></table>
      </div>




      <h1>Random Calculation</h1>

      <!-- forms must have label, form, and button -->

      <form action="/random/results">
        <div>
          <label for="minimum_random">
            Minimum
          </label>
          <input id="minimum_random" type="text" name="min_num" placeholder="E.g. 1.5">
        </div>
        <div>
          <label for="maximum_random">
            Maximum
          </label>
          <input id="maximum_random" type="text" name="max_num" placeholder="E.g. 4.5">
        </div>
        <div>
          <button>Pick Random Number</button>
        </div>


      </form>

    </div>
  </div>
</div>
