<h1>Random number Calculations</h1>

<!-- forms must have label, form, and button -->

<form action="/random/results">
  <div>
    <label>
      Minimum
    </label>
  </div>
  <div>
    <input type="text" name="min_num">
  </div>
  <div>
    <label>
      Maximum
    </label>
  </div>
  <div>
    <input type="text" name="max_num">
  </div>
  <div>
    <button>Pick Random Number</button>
  </div>


</form>
