<h1>Square Root Calculation</h1>

<!-- forms must have label, form, and button -->

<form action="/square_root/results">
  <div>
    <label>
    <b>Enter a number</b>
  </label>
    <input type="text" name="user_numsq" placeholder="What number do you want">
  </div>
  <div>
    <button>Calculate square root</button>
  </div>


</form>
