<h1>Square Calculation</h1>

<!-- forms must have label, form, and button -->

<form action="/square/results">
  <div>
    <label>
      Enter a number
    </label>
    <input type="text" name="user_num" placeholder="What number do you want">
  </div>
  <div>
    <button> Calculate square </button>
  </div>


</form>
