<h1>Take the square root of a number</h1>

<!-- forms must have label, form, and button -->

<form action="/squareroot/results">
  <div>
    <label>
      Enter a number :-)
    </label>
  </div>
  <div>
    <input type="text" name="user_numsq">
  </div>
  <div>
    <button>Calculate Square Root</button>
  </div>


</form>
